@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.repo {
  text-align: center;
  border: 2px solid #bebebe73;
  width: 75%;
  margin: 100px auto;
  height: fit-content;
  padding: 50px;
  box-shadow: 1px 1px 10px grey;
}

h2 {
  color: #17a2b8;
  font-weight: bold;
  margin-top: 0px;
}

.repo__item {
  color: rgb(38, 38, 38);
  text-align: left;
  max-width: 100%;
}

.repo__item:first-of-type {
  margin-top: 45px;
}

.repo__item span {
  font-weight: bold;
}
