.form-wrapper {
  text-align: center;
  overflow: hidden;
}

.form-container {
  text-align: left;
  width: 40%;
  margin: auto;
  animation: slide-left 1s;
}

.form-container input:first-of-type {
  margin-bottom: 0.2rem;
  width: 100%;
}

.form-container button:first-of-type {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.form-container p:first-of-type {
  color: red;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 30%;
  }
}

.svg-container {
  text-align: center;
  margin-top: 25px;
  width: 100%;
}

.svg {
  display: block;
  margin: auto;
}

.main-container {
  width: 100%;
}

@media (min-width: 100px) and (max-width: 500px) {
  .svg {
    width: 30%;
    height: 100%;
    border: 2px solid yellow;
  }
}

.repositories {
  text-align: center;
  width: 100%;
}

.pagination-container {
  width: fit-content;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0px;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

.previous-page,
.next-page {
  height: 2.35rem;
  vertical-align: middle;
  border-radius: 0px;
  border-bottom: none;
}

.previous-page {
  border-top-left-radius: 0.25rem;
}

.next-page {
  border-top-right-radius: 0.25rem;
}

.pagination {
  margin-top: 100px;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  animation: 1s slide-left-pagination;
}

@keyframes slide-left-pagination {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 12.5%;
  }
}

@media (min-width: 100px) and (max-width: 500px) {
  .pagination {
    height: 60px;
  }

  .previous-page,
  .next-page {
    height: 100%;
  }

  .pagination-container {
    text-align: center;
    padding-top: 25px;
  }
}
